<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <include resource="org/springframework/boot/logback/base/xml"/>
    <springProfile name="!dev">
        <appender name="LOGSTASH"
                  class="net.logstash.logback.appender.LogstashAccessTcpSocketAppender">
            <destination>https://194.87.237.197:50000</destination>
            <encoder charset="UTF-8" class="net.logstash.logback.encoder.LogstashEncoder">
                <providers>
                    <mdc />
                    <context />
                    <logLevel />
                    <loggerName />
                    <pattern>
                        <pattern>
                            {
                            "app": "app_pup"
                            }
                        </pattern>
                    </pattern>
                    <threadName />
                    <logstashMarkers/>
                    <stacktrace/>
                </providers>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="logstash"/>
        </root>
    </springProfile>
</configuration>